.container
  %center 
    .panel.panel-info.panel-little#oi
      .panel-heading
        %h4== Change quantity of "#{@order_item.book.title}":
      .panel-body
        = form_for @order_item do |item|
          %label.control-label== New quantity: #{item.number_field :quantity, min: 1, step: 1, class: 'form-control s'}
          %br= item.submit 'Save', class: 'btn btn-info'