.container
  %center 
    %h2 Categories of books:
  %table.table.table-hover
    %thead
      %tr
        %th Category name
        %th Number of books
      %tbody
        - @categories.each do |cat|
          %tr
            %td= link_to "#{cat.title}", category_path(cat), method: :get
            %td= cat.number_of_books
  %center
    - if customer_signed_in? && current_customer.admin == true
      =link_to 'Add category', new_category_path, class: 'btn btn-primary'
